Repository mike-prog-lab/node-example, changes with the labels that .github/labeler.yml gives for each.
All labels: js, docker, env, dependencies, github/workflows

Created GitHub workflow for publishing Docker image to ghcr.io.
  .github/workflows/docker-publish.yml
Labels: github/workflows

Update Project.js
  src/models/Project.js
Labels: js

Added 5000 port exposing to Dockerfile.
  .gitignore
  Dockerfile
Labels: docker

Changed Docker image npm installation command.
  Dockerfile
Labels: docker

Connected aws Secret Manager.
  .dockerignore
  app.js
  package-lock.json
  package.json
  src/services/secret.service.js
Labels: js, dependencies

Added PEM to mongoose connection initialization.
  app.js
  src/services/secret.service.js
Labels: js

Fixed issue with uri construction.
  .dockerignore
  app.js
Labels: none

Updated options for mongoose connection.
  app.js
Labels: none

Added .ebextensions directory.
  .ebextensions/001_envvars.config
Labels: none

Created version route.
  src/routers/project.router.js
Labels: js

Fixed route overload.
  app.js
  src/routers/project.router.js
Labels: js

Added required constraints to Project model.
  src/models/Project.js
Labels: js

Pumped version.
  app.js
Labels: none

.github/labeler.yml:

js:
  - src/**/*

docker:
  - Dockerfile

env:
  - .env.*

dependencies:
  - package*

github/workflows:
  - .github/workflows/*
